*.o
*.deb
gcs
gcs.exe
scrennshots
package
*.bin
*.hex
*.elf
android/jni/src/*
android/assets
android/gen
android/bin
android/libs
android/obj
android/ant.properties
android/build.properties
android/default.properties
android/local.properties
android/project.properties
android/proguard-project.txt
android/build.xml
Windows
