*.o
*.deb
gcs
gcs.exe
scrennshots
package
*.bin
*.hex
*.elf
android/jni/src/*
android/assets
android/gen
android/bin
android/libs
android/obj
android/ant.properties
android/build.properties
android/default.properties
android/local.properties
android/proguard-project.txt
android/build.xml
android-dev
Windows
winlibs
exe.rc
exe.res
installer.nsis
android-libs.tgz
android/jni/SDL2
android/jni/SDL2_image
android/jni/libxml2
3d-models
External
mavlink/sitl-transmitter/joystick
mavlink/sitl-transmitter/send-center
APM_SITL/ardupilot
openpilot/generate_objid
utils/log2kmlroute
utils/logdump
utils/udevtest
wifibc-tx
build/
